.main-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button{
    
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #5254f8;
}

.tour-button:hover{
    background-color: var(--gray);
}


.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section_label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3.8rem;
    }
    .image-container{
        height: 67vh;
    }
    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
}