body{
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: rgb(98, 98, 98);
    height: 55vh;
    width: 75vw;
    border-radius: 20px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card__right{
    width: 50%;
}

.card__right__img{
    width: 100%;
    height: auto;
    overflow: hidden;
}