body{
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: rgb(98, 98, 98);
    height: 55vh;
    width: 75vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: fit-content;
}

.card__left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 17px;
}

.card__right{
    width: 50%;
    height: 100%;
}
