


.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.8em;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
}

/* .content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
    padding: 1rem;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
} */

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button{
    
    border: none;
    border-radius: 0.375rem;
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #3639ec;
    color: white;
    transition: all 0.2s;
}

.tour-button:hover{
    background-color: var(--gray);
    color: black;
}


.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50px 50px 50px 50px; */
    border:  solid var(--primary-color);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    

}



.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow:visible;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    opacity: 0.8;
    /* border-radius: 20px 20px 20px 20px; */
  
    
}